{% extends 'base.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block body %}
    <h1>{{titlePage}}</h1>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url('app_admin_add_categ') }}">Ajouter une catégorie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Disabled</a>
        </li>
    </ul>

    {% if fragment is defined %}
        {% include(fragment) %}
    {% else %}

    {% endif %}

{% endblock %}
